{% extends '../base.html' %}
{% block header_navigation %}
     <li><a href="#">{{ press_title }}</a></li>
{% endblock %}

{% block content %}
    <div id="workflow">
    <greeting message="Monograph management"></greeting>
        <table class="table table-condensed table-bordered">
                <thead>

                    <tr>
                        <td></td>
                        {% for v in formats %}
                           <td>
                           {{ v}}
                           </td>
                        {% endfor %}

                    </tr>
                </thead>


             {% for k in chapters.values %}
                 <tr>
                    <td>
                       {% for s in k.settings %}
                       {{ s.setting_value}}
                       {% endfor %}
                    <br/>
                      <div class="chapter_author">
                      {% for au in k.authors %}
                            {% for s in au %}

                                  {{ s.first_name}}
                                  {{ s.last_name}}  &nbsp;
                              {% endfor %}
                            {% endfor %}
                      </div>
                    </td>
                     {%  for f in k.files %}
                        <td>
                        {{ f }}
                        </td>
                     {% endfor %}

                 </tr>

            {% endfor %}
    </table>
</div>
{% endblock %}